@media only screen and (min-width: 450px) {
    
    .banner h2 {
      font-size: 60px;
      margin-bottom: 20px;
    }


    .ca {
      padding: 100px 100px
    }

/* For width 400px and larger: */
.box {
  padding: 40px 0 60px 0;
}

.boxpye {
  padding: 10px 0 40px 0;
}
    .margenenlaces {
      padding: 30px 120px 30px 120px;
      margin: 0 30px 0 10px;
    }
  
    .slide__data {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 150px;
      left: 0;
      bottom: 150px;
      text-align: center;
      color: #fff;
    }


    .slide__data p {
      font-size: 25px;
      padding-bottom: 120px;
    }


    .slide__title {
      font-size: 60px;
      color: #fff;
      margin-top: 150px;
      margin-bottom: 20px;
    }



.about p {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
	-moz-column-count:    2; /* Firefox */
	column-count:         2;
  	-webkit-column-gap:   60px; /* Chrome, Safari, Opera */ 
	-moz-column-gap:      60px; /* Firefox */
	column-gap:           60px;
	column-rule-color: #ccc; /* Optional */
	column-rule-style:solid; /* Optional */
	column-rule-width: 1px; /* Optional */
text-align: justify; /* Optional */
}




.ContainerGaleria {
  padding: 60px 60px 60px 60px;
}









}